*{
	margin:0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;

}
body{
	/* background-color: #666;*/
	padding: 0;
	margin: 0;
	background: rgb(247,247,247);
	 
}
.outerDiv{
	background: linear-gradient(0deg, rgba(247,247,247,1) 0%, rgba(201,201,201,1) 100%); 
	margin: auto;	
	padding: 0;
	width: 80%
}
.header{
	color:white;
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,124,0,1) 0%, rgba(255,184,36,1) 87%, rgba(255,207,100,1) 100%);
}
.navBar{
	color:white;
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,124,0,1) 0%, rgba(255,184,36,1) 87%, rgba(255,207,100,1) 100%);
}